:root {
  --prime-text-color: #757575;
  --second-text-color: #212121;
  --third-text-color: #ffffff;
  --accent-color: #2196f3;
  --loyal-color: #afb1b8;
  --prime-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --background-color: #2f303a;
}
.body {
  font-family: var(--prime-font-family);
  color: var(--prime-text-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ============================================================== */
/*🔽🔽🔽   H E A D E R  &  N A V I G A T I O N   🔽🔽🔽*/

.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
}

.main.link {
  margin-right: 94px;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 3%;
  color: var(--accent-color);
  cursor: pointer;
}
.text-logo {
  color: #000000;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}
.nav-list-item > .nav.link {
  color: var(--second-text-color);
}
.header-mail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 30px;
}
.header-tel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-mail-icon,
.header-tel-icon {
  margin-right: 10px;
  fill: currentColor;
}
.nav.link {
  padding: 32px 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--prime-text-color);
}
.header-mail.nav.link:hover,
.header-tel.nav.link:hover {
  fill: var(--accent-color);
  background-color: var(--third-text-color);
}
.main.link:hover,
.main.link:focus,
.adress.link:hover,
.adress.link:focus,
.nav.link:hover,
.nav.link:focus,
.nav.link.current {
  color: var(--accent-color);
}

/*🔽🔽🔽   M A I N   S E C T I O N   🔽🔽🔽*/

/* ----------- hero -------- */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.hero {
  padding-top: 0px;
}
.container.overlay-hero {
  width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/for-overlay.jpg);
  background-color: #c4c4c4;
  background-size: cover;
  background-position: center;
  padding: 200px 0px;
}
.section.our-work {
  padding-top: 0px;
}
.hero-title {
  margin-bottom: 30px;
  margin-left: 252px;
  margin-right: 252px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
}
.button {
  padding: 10px 32px;
  margin: 0px 700px;
  white-space: nowrap;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--third-text-color);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*--------- features --------- */
.section.feature {
  padding-top: 0px;
}
.feature-list {
  display: flex;
  justify-content: center;
}
.feature-item {
  width: 270px;
}
.feature-item:not(:last-child) {
  margin-right: 30px;
}
.feature-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
}
.feature-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.feature-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}
/* ----------- our work -----------*/
.our-work-title,
.our-team-title,
.loyal-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.our-work {
  display: flex;
}
.our-work-item:not(:last-child) {
  margin-right: 30px;
}
/* ---------- our team ------------ */
.team-section {
  background-color: #f5f4fa;
}
.team.list {
  display: flex;
  justify-content: center;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.staff {
  padding: 30px 0px;
}
.names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.professions {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prime-text-color);
}
.team-item {
  background-repeat: no-repeat;
}
.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  background-color: #ffffff;
  border-radius: 50%;
}
.team-social-item:not(:last-child) {
  margin-right: 10px;
}
.team-social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.team-social-link:hover,
.team-social-link:focus {
  fill: var(--third-text-color);
  background-color: var(--accent-color);
}
/* ---------- loyal customers ------------ */
.loyal.list {
  display: flex;
  justify-content: space-between;
}
.loyal-item {
  box-sizing: border-box;
}
.loyal-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  margin: 16px 0px;
  border: 1px solid var(--loyal-color);
  border-radius: 4px;
  fill: var(--loyal-color);
}
.loyal-link:hover,
.loyal-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
/*🔽🔽🔽   F O O T E R   🔽🔽🔽*/

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-text-logo {
  color: var(--third-text-color);
}
.adress-list {
  margin-top: 20px;
}
.adress {
  font-size: 14px;
  line-height: 1.71;
  color: var(--third-text-color);
}
.adress.link {
  display: block;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
}
.adress,
.adress.link {
  font-style: normal;
}
.ft-social {
  margin-left: 70px;
}
.ft-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.ft-social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.ft-social-item {
  margin-right: 10px;
}
.ft-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.ft-social-link:hover,
.ft-social-link:focus {
  background-color: var(--accent-color);
}
.ft-social-icon {
}

/*==========================================*/
/*※※※※※※  P O R T F O L I O  ※※※※※※*/
/*==========================================*/

/* ----- buttons ------ */
.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filters {
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--second-text-color);
  cursor: pointer;
}
.filters-item:not(:last-child) {
  margin-right: 8px;
}
.filters:hover,
.filters:focus {
  background-color: var(--accent-color);
  color: var(--third-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.item-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}
.item-activity {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* ------- cards list ------ */
.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.cards-list-item {
  margin-top: 30px;
  margin-left: 30px;
  background: #ffffff;
}
.cards-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cards-content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
